@media (max-width: 992px){
    .hero-container{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-content h1{
        font-size: 3rem;
    }

    .hero-buttons{
        justify-content: center;
    }

    .about .container{
        flex-direction: column;
        text-align: center;
    }

    .about-info{
        grid-template-columns: 1fr 1fr;
    }

    .contact-wrapper{
        flex-direction: column;
    }
}





@media(max-width: 768px){
    .menu-toggle{
        display: block;
    }

    .nav-links{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: rgba(73, 145, 153);
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
        gap: 20px;
        display: none;
    }

    .nav-links.active{
        display: flex;
    }

    .hero-content h1{
        font-size: 2.4rem;
    }

    .projects-grid{
        grid-template-columns: 1fr;
    }

    .skills-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

    .footer-right{
        justify-content: center;
    }

    .footer-bottom{
        flex-direction: column;
        text-align: center;
    }
}




@media(max-width: 480px){
    .hero-content h1{
        font-size: 2rem;
    }


    .about-info{
        grid-template-columns: 1fr;
    }


    .skills-grid{
        grid-template-columns: 1fr 1fr;
    }


    .section-title{
        font-size: 2rem;
    }
}