@import url('https://fonts.googleapis.com/css?family=poppins:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    
}


body{
    font-family:'poppins' ,sans-serif;
    background: whitesmoke;
    color: white;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin:auto;
}


.header{
    position:fixed;
    top:0;
    width:100%;
    background:  rgb(73, 145, 153);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(237, 229, 229, 0.1);
    z-index: 1000;
}


.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-toggle{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


.logo{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}



.logo span{
    color: black;
}


.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}


.nav-links li{
    list-style: none;
}


.nav-links a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: 0.3;
}


.nav-links a:hover{
    color: black;
}


.nav-links a.hover::after,
.nav-links a.active::after{
    width:100%;
}


.nav-links a.active{
    color: aqua;
}



/* ========= HERO SECTION =========*/

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
}


.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.hero-content{
    flex: 1;
}


.hero-greeting{
    font-size: 1.5rem;
    color: aqua;
    margin-bottom: 15px;
}


.hero-content h1{
    font-size: 5rem;
    margin-bottom: 15px;
}


.hero-content h2{
    font-size: 2rem;
    color: rgb(24, 22, 22);
    margin-bottom: 20px;
}



.hero-description{
    font-size: 1.1rem;
    color: rgba(8, 1, 1, 0.1);
    line-height: 1.7;
    margin-bottom: 35px;
}


.hero-buttons{
    display: flex;
    gap: 20px;
}

.btn-primary{
    background: #2563EB;
}


.btn-secondry{
    border:2px solid #3B82F6;
    color: rgba(237, 229, 229, 0.1);
}


.btn-secondry:hover{
    background: #3B82F6;
}


.hero-image{
    flex:1;
    display: flex;
    justify-content: center;
}


.hero-image img{
    width: 350px;
    max-width: 100%;
}


.typing-text{
    margin-top: 25px;
    font-size: 24px;
    color: rgba(237, 229, 229, 0.1);
    font-weight: 600;
    height: 35px;
}



/* =========== ABOUT SECTION ========== */
.about{
    padding: 100px;
}



.section-title{
    text-align: center;
    font-size: 42px;
    margin-bottom: 60px;
    color: black;
}



.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.about-image{
    flex: 1;
    text-align: center;
}


.about-image img{
    width: 320px;
    border-radius: 20px;
}


.about-content{
    flex: 1;
}


.about-content p{
    color: black;
    line-height: 1.8;
    margin-bottom: 20px;
}


.about-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-top: 30px;
}


.about-info div{
    background: #111827;
    padding: 15px;
    border-radius: 10px;
    transition: .3s;
}



.about-info div:hover{
    background: blanchedalmond;
}


/* ========= SKILLS SECTION ========*/
.skills{
    padding: 100px 0;
}



.section-subtitle{
    text-align: center;
    color: #94A3B8;
    margin-top: -30px;
    margin-bottom: 60px;
    font-size: 18px;
}


.skills-container{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    gap: 60px;
}


.skills-bars{
    flex: 1;
}


.skill{
    margin-bottom: 30px;
}


.skills-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 600;
}


.progress-bars{
    width: 0;
    height: 100%;
    background: rgba(36, 30, 30, 0);
    border-radius: 20px;
    transition: width 1.5s ease-in-out;
    box-shadow: 0 0 10px rgba(36, 30, 30, 0);
}


.progress{
    width: 0;
    height: 100%;
    background: #3B82F6;
    border-radius: 20px;
    transition: width 1.5s ease-in-out;
    box-shadow: 0 0 10px #3B82F6;
}


/* ========= SKILL CARDS ========= */
.skill-grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}


.skill-card{
    background:rgb(18, 18, 7);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid rgba(237, 229, 229, 0.1);
}


.skill-card:hover{
    background: bisque;
    transform: translate(-8px);
    box-shadow: 0 15px 30px darkturquoise;
}

.skills-buttos a{
    display: inline-block;
    padding: 10px 16px;
    margin-right: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    border: 1px solid rgba(237, 229, 229, 0.1);
    color: rgba(237, 229, 229, 0.1);
}



.project-buttons a:hover{
    background: rgba(237, 229, 229, 0.1);
    color: white;
}


.project-card{
    position: relative;
    background: rgba(237, 229, 229, 0.1);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(237, 229, 229, 0.1);
    border-radius: 30px;
    overflow: hidden;
    transition: .45s;
    transform-style: preserve-3d;
    box-shadow: 0 20px 60px rgba(0,0,0,.35);
}





.project-cards:hover {
    transform: translate(-8px);
    box-shadow: 0 10px 25px white;
}


.project-badge{
    background: gold;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}


.project-card{
    opacity: 0;
    transform: translate(80px);
    transition: 1s;
    transform-style: preserve-3d;
}


.show-project{
    opacity: 1;
    transform: translateY(0);
}


.project-buttons a{
    overflow:hidden;
    position: relative;
}


.ripple{
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 06s linear;
    background: rgba(255,255,255,5);
}



/* ======== PROJECT SECTION ========*/

projects{
    position: relative;
    padding: 120px 8%;
    background: black;
    overflow: hidden;
}


.projects::before{
    content:"";
    position: absolute;
    width: 650px;
    height: 650px;
    top: -220px;
    left: -220px;
    border-radius: 50%;
    background: radial-gradient(rgba(99,102,241,.28), transparent 70%);
    filter: blur(80px);
}


.project::after{
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    right: -180px;
    bottom: -250px;
    border-radius: 50%;
    background: radial-gradient(rgba(139,92,246,.25) transparent 70%);
    filter: blur(90px);
}





/* ========== TITLES ========*/

.section-title{
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
    letter-spacing: -.5px;
}



.section-subtitle{
    text-align: center;
    color: #9aa3b2;
    font-size: 18px;
    margin-bottom: 70px;    
}



/* ==== GRID ====*/
.projects-grid{
    position:relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fix,minmax(360px,1fr));
    gap: 40px;
}


