@import url('https://fonts.googleapis.com/css?family=poppins:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
    
}


body{
    font-family:'poppins' ,sans-serif;
    background: whitesmoke;
    color: #111;
    line-height: 1.6;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}



/* ========= HEADER SECTION ==========*/
.header{
    position:fixed;
    top:0;
    width:100%;
    background:  rgb(73, 145, 153);
    backdrop-filter: blur(15px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}


.navbar{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-toggle{
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


.logo{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}



.logo span{
    color: black;
}


.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}


.nav-links li{
    list-style: none;
}


.nav-links a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    transition: 0.3;
}


.nav-links a:hover,
.nav-links a.active{
    color: aqua;
}



/* ========= HERO SECTION =========*/

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px;
    background: #f8fafc;
}


.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.hero-content{
    flex: 1;
}


.hero-greeting{
    font-size: 1.5rem;
    color: #111;
    margin-bottom: 15px;
}


.hero-content h1{
    font-size: 3.8rem;
    margin-bottom: 10px;
    color: #111;
    line-height: 1.15;
}



.hero-content h1 span{
    color: #0f766e;
}



.hero-description{
    font-size: 1.15rem;
    color: #444;
    line-height: 1.7;
    margin: 25px 0;
    max-width: 540px;
}



.typing-text{
    margin: 20px 0 30px;
    font-size: 1.4rem;
    color: #0f766e;
    font-weight: 600;
    height: 35px;
}



.hero-buttons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}



.btn,
.btn-primary,
.btn-secondary,
.footer-btn,
.cert-btn,
.resume-btn,
.send-btn{
    display: inline-block;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}



.btn.primary,
.btn-primary,
.footer-btn.primary,
.send-btn{
    background:#111;
    color: #fff;
}



.btn.secondary,
.btn-secondary,
.footer-btn.secondary,
.resume-btn,
.cert-btn{
    background: transparent;
    color: #111;
    border: 2px solid #111;
}



.btn.primary:hover,
.btn-primary:hover,
.footer-btn.primary:hover,
.send-btn:hover{
    background: #0f766e;
    color: #fff;
}



.btn.secondary:hover,
.btn-secondary:hover,
.footer-btn.secondry:hover,
.cert-btn:hover
.resume-btn:hover{
    background: #111;
    color: #fff;
}



.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}



.hero-image img{
    width: 350px;
    max-width: 100%;
}



/* =========== ABOUT SECTION ========== */
.about{
    padding: 100px 0;
}



.about .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.about-container{
    flex-basis: 100%;
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 40px;
    color: #111;
    font-weight: 700;
}



.about-image{
    flex: 1;
    text-align: center;
}


.about-image img{
    width: 320px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}


.about-content{
    flex: 1;
}



.about-content h3{
    margin-bottom: 20px;
    color: #111;
    font-size: 1.6rem;
}



.about-content p{
    color: #444;
    line-height: 1.8;
    margin-bottom: 20px;
}



.about-info{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 15px;
    margin-top: 30px;
}



.about-info div{
    background: #111827;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    transition: 0.3s;
}



.about-info div:hover{
    background: #0f766e;
    transform: translateY(-4px);
}



/* =========== SKILLS SECTION ========*/
.skills{
    padding: 100px 0;
    background: #fff;
}

.skills .container > h2,
.skills .section-title{
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 12px;
}



.section-subtitle,
.skilld .section-title + p{
    text-align: center;
    color: #555;
    margin-bottom: 50px;
    font-size: 1.1rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}



.skills-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 28px;
    max-width: 800px;
    margin: 0 auto 60px;
}



.skill{
    width: 100%;
}



.skills-bars{
    flex: 1;
}



.skills-info,
.skill-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 600;
    color: #111;
}



.progress-bar{
    width: 100%;
    height: 12px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}



.progress{
    height: 100%;
    background: linear-gradient(90deg, #3B82F6, #0f766e);
    border-radius: 20px;
    transition: width 1.5s ease-in-out;
}



.progress.c{width: 98%;}
.progress.cpp{width: 90%;}
.progress.oop{width: 75%;}
.progress.html{width: 96%;}
.progress.css{width: 80%;}
.progress.javascript{width: 90%;}
.progress.git-github{width: 99%}



/* ============= SKILL CARDS =============*/
.skills-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 18px;
}



.skill-card{
    background: #111827;
    color: #fff;
    padding: 22px 15px;
    border-radius: 14px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid transparent;
}



.skill-card:hover{
    background: #0f766e;
    transition: translate(-6px);
    box-shadow: 0 12px 25px rgba(15, 118, 110, 0.3);
}



/* ======= PROJECT SECTION =========*/
.projects{
    position: relative;
    padding: 120px 8%;
    background: black;
    overflow: hidden;
}



.projects::before {
    content: "";
    position: absolute;
    width: 650px;
    height: 650px;
    top: -220px;
    left: -220px;
    border-radius: 50%;
    background: radial-gradient(rgba(99, 102, 241, 0.28), transparent 70%);
    filter: blur(80px);
}



.projects::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    right: -180px;
    bottom: -250px;
    border-radius: 50%;
    background: radial-gradient(rgba(139, 92, 246, 0.25), transparent 70%);
    filter: blur(90px);
}




.projects .section-title{
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
    letter-spacing: -0.5px;
}



.projects .section-subtitle{
    position: center;
    color: #9aa3b2;
    font-size: 18px;
    margin-bottom: 70px;
}



.projects-grid{
    position: relative;
    z-index: 2;
    font-size: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 40px;
}



.project-card{
    position: relative;
    background: rgba(237, 229, 229, 0.08);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(237,229,229,0.1);
    border-radius: 30px;
    overflow: hidden;
    transition: 0.45s;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
    opacity: 1;
    transform: translateY(0); 
}




.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
}




.project-image{
    position: relative;
    overflow: hidden;
}



.project-image img{
    width: 100%;
    display: block;
    height: 220px;
    object-fit: cover;
}



.image-overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
}




.project-card:hover .image-overlay{
    opacity: 1;
}




.project-content{
    padding: 25px;
    color: white;
}



.project-category{
    color: #9aa3b2;
    font-size: 14px;
    margin-bottom: 10px;
}



.project-content h3{
    font-size: 24px;
    margin-bottom: 12px;
    color: #fff;
}




.project-discription{
    color: #d1d5db;
    line-height: 1.7;
    margin-bottom: 18px;
}




.tech-stack,
.project-features,
.project-info{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 18px;
}



.tech-stack span,
.project-features span{
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    padding: 8px 12px;
    border-radius: 999px;
    font-size: 13px;
}



.project-info > div{
    flex: 1;
    min-width: 90px;
    background: rgba(255, 255, 255, 0.06);
    padding: 12px;
    border-radius: 12px;
}


.project-info small{
    display: block;
    color: #9aa3b2;
    margin-bottom: 5px;
}


.project-info h4{
    color: #fff;
}


.project-buttons{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 10px;
}



.project-buttons a{
    overflow: hidden;
    position: relative;
}




/* ============ EDUCATION SECTION ==========*/

.education,
.certifications,
.contact{
    padding: 100px 0;
}



.timeline{
    display: grid;
    gap: 25px;
}



.timeline-item{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}



.timeline-dot{
    width: 16px;
    height: 16px;
    background: #3B82F6;
    border-radius: 50%;
    margin-top: 8px;
    flex-shrink: 0;
}



.timeline-content{
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 100%;
}



.timeline-year{
    display: inline-block;
    font-weight: 600;
    color: #3B82F6;
    margin-bottom: 8px;
}



.timeline-content h3,
.timeline-content h4,
.timeline-content p{
    color: #111;
    margin-bottom: 6px;
}



/* ================= CERTIFICATIONS ==============*/
.cert-heading,
.contact-heading,
.education-heading{
    text-align: center;
    margin-bottom: 50px;
}



.cert-tag,
.cantact-tag,
.contact-tag{
    display: inline-block;
    background: rgba(59, 130, 246, 0.12);
    color: #3B82F6;
    padding: 8px 14px;
    border-radius: 999px;
    margin-bottom: 14px;
    font-weight: 600;
}


.cert-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}


.cert-card{
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.5);
}



.cert-card.featured{
    border: 2px solid #3B82F6;
}



.cert-icon{
    font-size: 2rem;
    margin-bottom: 14px;
}



.issuer{
    display: inline-block;
    color: #3B82F6;
    font-weight: 600;
    margin-bottom: 10px;
}



.cert-card h3{
    color: #111;
    margin-bottom: 110px;
}



.cert-card p,
.cert-date{
    color: #555;
    margin-bottom: 12px;
}



.cert-actions{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}



.cert-actions{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


/* ============= CONTACT SEDTION ========== */



.contact-wrapper {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.contact-info,
.contact-form-card {
    flex: 1;
}

.info-card {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    background: #fff;
    padding: 18px;
    border-radius: 14px;
    margin-bottom: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.info-icon {
    font-size: 1.4rem;
}

.info-card h3 {
    margin-bottom: 6px;
    color: #111;
}

.info-card p,
.info-card a {
    color: #444;
    text-decoration: none;
}

.contact-form-card {
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.input-group {
    position: relative;
    margin-bottom: 22px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    background: transparent;
}

.input-group label {
    display: block;
    margin-top: 8px;
    color: #555;
    font-size: 0.95rem;
}

.send-btn {
    width: 100%;
}
